{% extends 'base.html.twig' %}

{% block title %}Mettre à jour l'animal{% endblock %}

{% block body %}
    <div class="text-center w-75 mx-auto">
    <h2 class="mt-3">Historique des informations pour : {{ animal_name }}</h2>

    <h3 class="my-5">Historique des mises à jour</h3>

    {% if animal_updates is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Quantité de Nourriture</th>
                <th>Nourriture</th>
            </tr>
            </thead>
            <tbody>
            {% for update in animal_updates %}
                <tr>
                    <td>{{ update.Date|date('d/m/Y') }}</td>
                    <td>{{ update.Time|date('H:i') }}</td>
                    <td>{{ update.QuantiteNourriture }} kg</td>
                    <td>{{ update.Nourriture }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune mise à jour enregistrée pour cet animal.</p>
    {% endif %}

    <h3 class="my-4">Mettre à jour les informations</h3>

    {{ form_start(form) }}

    <div class="row">
        <!-- Date et Heure sur la première ligne -->
        <div class="col-md-6">
            {{ form_row(form.Date) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.Time) }}
        </div>
    </div>

    <div class="row">
        <!-- Nourriture et Quantité sur la deuxième ligne -->
        <div class="col-md-6">
            {{ form_row(form.Nourriture) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.QuantiteNourriture) }}
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-4">Enregistrer la mise à jour</button>

    {{ form_end(form) }}

    <a  href="{{ path('app_animal_status') }}" class="btn btn-secondary mt-4">Retour au choix de l'animal</a>
    </div>
{% endblock %}
