<!doctype html>
<html lang="fr" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}Zoo Arcadia{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-... (integrity hash) ..." crossorigin="anonymous" />
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/cover.css') }}" rel="stylesheet">

</head>

<body class="d-flex  text-center ">

<div class="cover-container d-flex w-100 h-100  flex-column mx-auto">
<header class="mb-auto w-100 mt-2">
    <nav class="container-fluid d-flex justify-content-between align-items-center navbar navbar-expand-md m-0 p-0">

        <a class="nav-link" style="width: 200px" href="{{ path('app_home') }}">
            <img class="img-fluid logo" src="{{ asset('assets/images/logo.png') }}" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-masthead mx-auto" id="navbarCollapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item py-1 px-2">
                    <a class="nav-link fw-bold {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" 
                       aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item py-1 px-2">
                    <a class="nav-link fw-bold {% if app.request.attributes.get('_route') == 'app_services' %}active{% endif %}" 
                       href="{{ path('app_services') }}">Services</a>
                </li>
                <li class="nav-item py-1 px-2">
                    <a class="nav-link fw-bold {% if app.request.attributes.get('_route') == 'app_habitats' %}active{% endif %}" 
                       href="{{ path('app_habitats') }}">Habitats</a>
                </li>
                <li class="nav-item py-1 px-2">
                    <a class="nav-link fw-bold {% if app.request.attributes.get('_route') == 'app_contact' %}active{% endif %}" 
                       href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>
            <hr class="d-block d-md-none mb-sm-2">
            {% if app.user %}
                <a href="{{ path('account') }}">
                    <button type="button" class="fw-bold py-1 px-2 nav-link-bordered">Mon espace Pro</button>
                </a>
                <a href="{{ path('app_logout') }}">
                    <button type="button" class="btn btn-outline-danger m-2">Déconnexion</button>
                </a>
            {% else %}
                <a href="{{ path('app_login') }}">
                    <button type="button" class="fw-bold py-1 px-2 nav-link-bordered">Espace Professionnel</button>
                </a>
            {% endif %}
        </div>
    </nav>
</header>


    {% block body %}{% endblock %}

    <footer class="container">
        <div class="row mt-3 mb-3">
            <!-- Colonne 1: Adresse -->
            <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center text-center fs-4">
                <address>
                    <p>Zoo Arcadia<br>
                        Avenue des fougères<br>
                        35380 Paimpont</p>
                </address>
            </div>
            <hr class="d-block d-md-none my-3">
            <!-- Colonne 2: Google Maps -->
            <div class="col-12 col-md-4 d-flex align-items-center text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7241.555941765286!2d-2.1894747782877926!3d48.01369631507954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480fad108767738d%3A0x40ca5cd36e4acd0!2s35380%20Paimpont!5e0!3m2!1sfr!2sfr!4v1725825382669!5m2!1sfr!2sfr"
                        width="100%" height="275" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <hr class="d-block d-md-none my-3">

            <hr class="d-block d-md-none my-3">
            <!-- Colonne 4: Réseaux Sociaux -->
            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center fs-4 mt-sm-2">
                <div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fab fa-facebook-f me-2"></i>
                        <p class="mb-0">Zoo Arcadia</p>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fab fa-instagram me-2"></i>
                        <p class="mb-0">@Zoo.arcadia</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fab fa-linkedin me-2"></i>
                        <p class="mb-0">Zoo Arcadia</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</div>

<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

</body>
</html>
